body {
  font-family: 'Arial', sans-serif; /* Set a professional, sans-serif font */
}

.swiper-container {
  width: calc(100% - 150px); /* Adjust width to cover the screen minus the navbar */
  height: 300px; /* Increase the height to make the slider images larger */
  margin: 20px 0;
}

.swiper-slide img {
  width: 100%; /* Ensure the image covers the slide */
  height: 100%; /* Ensure the image covers the slide */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
}

.activities {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; /* Ensure space between admin and student activities */
  padding-left: 20px; /* Adjust according to the width of the navigation bar */
}

.activity {
  text-align: center;
  width: 45%;
}

.activity img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.activity h2 {
  margin-bottom: 10px;
}

.activity p {
  font-size: 16px; /* Adjust font size for readability */
  line-height: 1.5; /* Increase line height for better readability */
  text-align:center; /* Justify the text for better alignment */
}

/* Responsive layout */
@media (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: static;
  }

  .container {
    margin-left: 0;
    /* Space for fixed header */
  }

  .swiper-container {
    width: 100%;
    margin-left: 0;
  }

  .activities {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .activity {
    width: 90%;
    margin-bottom: 20px;
  }
}
